<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/views/main.handlebars" type="text/css" />
		<title>Todays news!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/server.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
